body {
    font-family: 'Poppins', sans-serif;
}

/* 
h1 {
    background-color: indianred;
    /* block element can work as inline by using display:inline*/
/* display: inline;
}
*/
h1 {
    background-color: indianred;
}

/* hover effect works when mouse place at the point */
h1:hover {
    color: skyblue;
    background-color: seagreen;
    margin: 50px;
    padding: 50px;
    font-size: 50px;
    font-weight: 700;
}

span {
    background-color: lawngreen;
    /* right and left margin,padding possible only for inline element */
    margin-right: 20px;
    /* to use hight and width in inline element need disply:inline-block */
    display: inline-block;
    height: 300px;
    width: 250px;
}

div {
    background-color: lightcoral;
    /* hight and width only posible for block element */
    height: 300px;
    width: 250px;
}

h2 {
    background-color: mediumpurple;
}

p {
    background-color: mintcream;
}

/* use focus pseudo when mouse works */
.middle-person:focus {
    color: blue;
    font-weight: 700;
}

/* use visited oseudo  for ancor tag */
a:visited {
    color: red;
}

/*  <!-- user pseuso class for diffrent child coloring line aliya ,charaia --> */
li:first-child {
    color: chocolate;
}

li:last-child {
    background-color: cornflowerblue;
}

/* for even number child */
li:nth-child(2n) {
    color: crimson;
}

/* for odd numbers */
li:nth-child(2n+1) {
    background-color: darkgray;
}

/* using pseudo element to show content befor and after heading */
h3::before {
    content: 'hello ';
}

h3::after {
    content: ' gelo';
    background-color: darkkhaki;
}

/* table boarder collapse will make the table row attatched together */
table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid lightgray;
    padding: o 10px;
}

/*  Simple navbar and internal navigation among files */
nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    padding: opx 10px;
}

nav li:hover {
    background-color: lightgray;
}

nav li a {
    text-decoration: none;

}

/*  nested menu dropdown option on mouseover */
nav>ul {
    display: flex;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: lightyellow;
}

nav>ul>li:hover>ul {
    display: block;
}

/* css custom property */

:root {
    --dark-border: 2px solid black;

}

h1 {
    background: var(--dark-border);
}